@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";

.contactsBlock{
    background-color: $additionalBackGroundColor;
    .contactsContainer{
        flex-direction: column;
        justify-content: flex-start;
        .title{
            @include text($titleFontFamily,28px, 1.2);
            text-transform: capitalize;
            letter-spacing: 5px;
        }
        .formContainer{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .formContainer input,textarea{
                width: 100%;
            }
            .submitBtn{
                padding: 10px 20px;
                background-color: #eeeef5;
            }
            @media screen and (max-width: 660px){
                width: 100%;
            }
        }
    }
}
