@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";

.socialMedia{
    @include display(center, space-between, wrap);
    width: 200px;
    flex-direction: column;
    .icon{
        @include display(center, center, nowrap);
        display: flex;
        flex-direction: column;
        height: 60px;
        width: 60px;
        h3{
            color:$textColor;
        }
        .description{
            color: $textColor;
        }
    }
}
