@import "src/common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixin.scss";

.skill {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  .iconContainer{
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    align-items: center;
    background-color: $backGroundColor;
    transform: rotate(45deg);
    .icon {
      background-size:cover ;
      background-position: center;
      background-repeat: no-repeat ;
      transform: rotate(-45deg);

    }
  }


  h3 {
    color: $textColor;
    font-size: 22px;
  }

  .description {
    @include text($descriptionFontFamily,14px, 1.8);
    font-weight: 400;
  }
}

