@import "../common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixin";

.skillsBlock{
    background:$additionalBackGroundColor;
    .container{
        @include display(center,space-between,wrap);
        @include container;
    }
    .skillsContainer{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        .title{
            background:$textColor;
        }
        .skills{
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 30px;
        }
    }

}



