@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixin";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-around;
  a {
    @include text($titleFontFamily,16px,1.2);
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }

  .active {
    color: $primaryColor;
  }
}