$textColor: #fff;
$primaryColor: #4e93e6;
$backGroundColor: #1f1f20;
$additionalBackGroundColor:#252527;
$btnColor: rgb(123, 189, 231);
$titleFontFamily:'Josefin Sans', sans-serif;
$descriptionFontFamily:'Poppins', sans-serif;