@import './../common/styles/sass/variables.scss';

.projectsBlock{
    background: $backGroundColor;
    padding: 20px 0;
    .projectsContainer{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        .projects{
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 30px;
            align-items: flex-start;
        }
    }
}


