@import './../common/styles/sass/variables.scss';
@import "src/common/styles/sass/mixin";

.projectsBlock{
    padding: 20px 0;
    .container{
        @include display(center,space-between,wrap);
        @include container;
    }
    .projectsContainer{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        .projects{
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 30px;
            align-items: flex-start;
        }
    }
}


